<div class="relative h-screen max-h-[700px] md:max-h-[900px] lg:max-h-[900px] overflow-hidden">
  <div class="absolute inset-0 z-0">
    <%= image_tag image_url, alt: 'Atomo Star Background', class: 'w-full h-full object-cover object-center brightness-75' %>
  </div>

  <div class="absolute inset-0 z-10 bg-[#B06C49] opacity-70"></div>

  <div class="relative z-20 h-full flex flex-col md:flex-row items-center md:items-start justify-center md:justify-center px-6 md:px-20 lg:px-32 py-20">
    
    
    <div class="text-white max-w-xl md:max-w-2xl lg:max-w-3xl">
    <br><br>
    <br>

      <h1 class="font-playfair-display text-5xl md:text-6xl lg:text-8xl font-extrabold leading-tight">
        <%= titolo %>
      </h1>

      <p class="mt-6 font-lato text-lg md:text-xl max-w-md md:max-w-lg opacity-90">
        <%= testo %>
      </p>

      <a href="#progetti" class="mt-10 inline-block bg-[#A3B18A] text-white font-semibold px-10 py-5 rounded-lg shadow-lg hover:bg-[#a05a3a] hover:text-white transition-colors duration-300 ease-in-out">
        <%= bottone %>
      </a>
    </div>


    <div class="hidden md:block flex-1 ml-12 lg:ml-20">
    </div>
  </div>
</div>
